.page {
    background-image: url(../img/forest.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
   }

/* body {
    position: relative;
    z-index: 5;
} */
body {
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}

a {
    /* оформление текста в виде подчерквания, перечеркивания, линии над текстом */
    text-decoration: none;
}

.img {
       position: absolute;
       height: 100%;
       width: auto;
   }

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

header, footer {
    height: 50px;
    /* z-index: -1; */
}

.header-color {
    background-color: darkgreen;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.menu {
    text-shadow: 10px 5px 5px darkseagreen;
}

.btn {
    background-color: darkgreen;
    border-color: darkgreen;
    padding: 5px 10px;
    border-radius: 25px;
}

p {
    box-shadow: 10px 5px 5px darkseagreen;
}

.main {
    position: relative;
    z-index: -1;
}

.form:after {
        content: "";
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        width: 100hv;
        height: 100hv;
        z-index: 1;
}

.form {
    display: none;
    position: absolute;
    left: 400px;
}

#reg:target {
    display: block;
    width: 450px;
    border-radius: 10px;
    background: darkgreen;
    padding: 40px;
}
